p {

    font-family: 'Cute Font', cursive;
    font-size: 50px;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 1px;
    width: 960px;
    margin-left: 100px;
    text-align: center;

}