a {
    margin: 10px;
    
}

a:link {
    color: #FF0000;
}

a:visited {
    color: #00FF00;

}

a:hover {
    color: #FF00FF;
  }
  
  a:active {
    color: #0000FF;
  }  


a :hover {

    background-color: blue;

}